<style type="text/css">
    .addtype{
        margin-top:5px;
        margin-bottom: 5px;
    }
    .icon:hover{
        cursor: pointer;
        color: #4fb3dd;
    }
    .icon{
        height: 30px;
        line-height: 30px;
        margin-left: 10px;
    }
    .hire_box{
        height: 30px;
        line-height: 30px;
        width: 100%;
        border: solid 1px #fff;
    }
    .hire_box input{
        margin-top: 5px;
    }
    .hire_box div{
        float: left;
    }
    .hire_left{
        width: 400px;
        text-align: right;
    }
    /*.hire-right{
      width: 600px;
    }*/
    .gudingtype{
        margin-top:10px;
        margin-bottom: 10px;
    }
    .hire-submit{
        text-align: center;
    }
    .hire_box_submit{
        margin-top: 10px;
        border: solid 1px #fff;
    }
    .hire_goods_introduce{
        border: solid 1px #fff;
        height: 100px;
    }
    .hire_goods_introduce textarea{
        height: 80px;
        width: 400px;
    }
    .hire_goods_introduce div{
        float: left;
        margin-top: 7px;
    }
    .hire_cat{
        border: solid 1px #fff;
        height: 30px;
        line-height: 30px;
    }
    .hire_cat div{
        float: left;
    }
    .hire_cat select{
        margin-top: 5px;
    }
</style>
<table>
    <tr>
        <td>
            <form action="__SELF__" method="post" enctype="multipart/form-data">
                <table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#a8c7ce">
                    <tr class="hire_box">
                    <td class="hire_left">客户名字：</td>
                    <td class="hire-right"><input type="text" name="name" /></td>
                </tr>
                <tr>
                    <td height="20" bgcolor="#FFFFFF" class="STYLE6" colspan='100'>
                        <div align="center"><input type="submit" value='添加' /></div>
                    </td>
                </tr>
                </table>
            </form>
        </td>
    </tr>
</table>
