<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_HOME_URL}about.css">
<!-- 关于我们开始 -->
	<div id="about">
		<div class="son_banner">
			<img width="100%" src="{$Think.const.IMG_HOME_URL}banner4.jpg">
		</div>
		<div class="main" >
			<ul class="fl about_nav">
				<li>
					<i></i>
					<a href="javascript:;">JLY Introduction</a>
				</li>
				<li>
					<i></i>
					<a href="javascript:;">JLY Token</a>
				</li>
				<li>
					<i></i>
					<a href="javascript:;">JLY Group</a>
				</li>
				<li>
					<i></i>
					<a href="javascript:;">JLY Dev Plan</a>
				</li>
			</ul>
			<div class="subject fl">
				<div class="about_profile content fl" >
					<h2>JLY Introduction</h2>
					<p>
						<strong>JLY Token</strong>
						The record chain JLY is developed by the technical team of JLWAK technology company. It is an encrypted digital currency based on blockchain and JLY smart contract technology, which is used in the JLY commercial landing application ecosystem.
						JLWAK as a medium, using blockchain technology will improve the traceability and transparency in the commercial application value chain. Collect big data cloud computing model analysis, provide intelligent record chain mode. Share global business information solutions. Reduce commercial production costs. Mutual benefit price, subvert the traditional market model. Collect actual business data, innovate commercial production technologies, optimize commercial production, and protect commercial intellectual property rights and trade commercial property rights. The combination of the Internet and the Internet of Things has played a very simple role in simplifying existing crowds of entrepreneurship. Secondly, corresponding to all things, use the Chuangchuang contract mechanism to upload the chain.
						In the house leasing business, everyone can publish rental and sale information through the JLY mall app. Only EB holders have the right to publish house leasing transactions. All businesses are transacted through JLY tokens, and each transaction will be improved through JLY tokens in JLY mall. The user's JLY credit.
						JLY smart lock mining business, the official website directly sells one thing and two uses, the Zhuangchuang smart mining lock can be installed in every door, biometric technology and face recognition technology. South Korea imported chips, pry alarm warning. Comes with 4G data card, large battery, and comes with EB wallet. Zhouchuang smart contract mining mechanism.
						JLY driving recorder and in-vehicle navigation mining business, JLY smart contract mining mechanism, the driving mileage of driving recorder is calculated as mining income. Comes with JLY wallet, real-time video recording, remote 360° monitoring. Electronic dog function, voice broadcast, reverse image function. Equipped with 256G memory card, 1080P ultra-high-definition images. JLY cloud, energy-saving mining.
						JLY mall business, using blockchain technology to develop a global shared information mall. All JLY holders can open a store in the mall. Buy and sell goods through article information articles and videos. All transactions are circulated through JLY tokens. Trading in JLY malls through JLY tokens will increase users' JLY credit points.
					</p>
				</div>
				<div class="about_team content fl" >
					<h2>JLY Token</h2>
					<p>
					    The JLY Token (hereinafter referred to as JLY) is issued by the JLY Foundation with a total of 38 million tokens. The JLY before the JLY main line is generated based on the Ethereum ERC-20 standard, and the JLY generated after the JLY main line is based on the ERC-20 standard Map to mainnet assets.
						Project abbreviation: JLY Record chain token abbreviation: JLY.
						Total: 38 million.
						Receiving currency: USDT/ETH.
						Issue price: 1USDT=4.7JLY "The first phase 4 million".
						Offer price: 1USDT=2.8JLY "The first phase of 5 million".
						Price: 1USDT=1.6JLY "6 million in the first stage".
					</p>
				</div>
				<div class="about_team content fl" >
					<h2>JLY Group</h2>
					<p>
						The team members are all overseas talents. They have worked on Huobi, OK, Binance and other exchanges, ashes-level blockchain players
					</p>
				</div>
				<div class="about_team content fl" >
					<h2>JLY Dev Plan</h2>
					<p>1.2020 Public Record Chain</p>
					<p>2.2021 Wallet And Exchange</p>
					<p>3.2022 Car Mine System Dev</p>
					<p>4.2023 Become the world's largest blockchain vehicle mining team</p>
				</div>
			</div>
		</div>
	</div>
<!-- 关于我们结束 -->
<script type="text/javascript">
    $(function(){
        var Lli = $('#about .main .about_nav li');
        var RDiv = $('.subject .content');
        var index = 0;
        Lli.click(function(){
          index = $(this).index();
          RDiv.eq(index).addClass('show').siblings().removeClass('show');
          $(this).addClass('ons').siblings().removeClass('ons');
          // return false;
        });
        var focus = location.search.substring(location.search.length -1);
        Lli.eq(focus).click();
    }) 
</script>