<div class="son_banner">
    <img width="100%" src="{$Think.const.IMG_HOME_URL}banner3.jpg">
</div>
<div style="width:100%; background-color:white">

    <div class="Main w1200 Box auto" style="min-height:500px;">
        <div class="jjfa_box">
            <div class="titles">
                <a>
                    <div class="mc" style="margin-top:10px">
                        <span>Solution</span>
                    </div>
                    <i>PRODUCT SOLUTION</i>
                </a>
            </div>
            <div class="dqwz"><a href="/">Index</a>&nbsp;&gt;&nbsp;<a href="#">Solution</a></div>
            <div class="jjfatext">
                <foreach name='solution' item='v' key='k'>
                    <if condition="$v.id % 2==1">
                        <div class="jjfamp1 pmbox" id="jyhjsjjfa">
                            <div class="jj_text_box f_l">
                                <h2><a href="javascript:void(0);">{$v.sol_name}</a></h2>
                                <p>
                                    {$v.sol_profile}
                                </p>
                            </div>
                            <div class="jj_img_box f_r">
                                <a href="javascript:void(0);"><img width="570" height="320" src="{$Think.const.SET_URL}{$v.sol_b_tx|substr=###,2}" alt=""></a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    <else />
                        <div class="jjfamp1 pmbox" id="zwgkbzhjjfa">
                            <div class="jj_text_box f_r">
                                <h2><a href="javascript:void(0);">{$v.sol_name}</a></h2>
                                <p>
                                    {$v.sol_profile}
                                </p>
                            </div>
                            <div class="jj_img_box f_l">
                                <a href="javascript:void(0);"><img width="570" height="320"  src="{$Think.const.SET_URL}{$v.sol_b_tx|substr=###,2}" alt=""></a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </if>
                </foreach>
            </div>
        </div>
    </div>
</div>

