
  <tr>
    <td><table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#a8c7ce">
      <tr>
        <td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">权限id</span></div></td>
        <td width="15%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">权限名称</span></div></td>
        <td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">父级id</span></div></td>
        <td width="11%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">控制器</span></div></td>
        <td width="18%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">操作方法</span></div></td>
        <td width="15%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">全路径</span></div></td>
        <td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">等级</span></div></td>
        <td width="10%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">基本操作</span></div></td>
      </tr>
      <foreach name='info' key='k' item='v'>
      <tr>
        <td height="20" bgcolor="#FFFFFF" class="STYLE6"><div align="center"><span class="STYLE19">{$v.auth_id}</span></div></td>
        <td height="20" bgcolor="#FFFFFF" class="STYLE6"><div align="left"><span class="STYLE19">{:str_repeat('--/',$v['auth_level'])}{$v.auth_name}</span></div></td>
        <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center">{$v.auth_pid}</div></td>
        <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center">{$v.auth_c}</div></td>
        <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center">{$v.auth_a}</div></td>
        <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center">{$v.auth_path}</div></td>
        <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center">{$v.auth_level}</div></td>
        <td height="20" bgcolor="#FFFFFF"><div align="center" class="STYLE21">
        <a style='color:rgb(59,99,119)'  href=" {:U('del',array('auth_id'=>$v['auth_id']))}" onclick="if(confirm('确认要删除我么？主人')){return true;}else{return false;}" >删除</a>  <a style='color:rgb(59,99,119)'  href="{:U('upd',array('auth_id'=>$v['auth_id']))}">修改</a></div></td>
      </tr>
      </foreach>
    </table></td>
  </tr>
 </table>
</body>
