@charset "utf-8";

.son_banner img{ display:block; position:absolute; left:0;right:0; margin:0 auto; height:100%;}
.son_banner{ width:100%; position:relative;overflow:hidden;}

@media screen and (min-width:1367px) {
    .son_banner{height:398px;}
}
@media screen and (min-width:1200px) and (max-width:1366px) {
    .son_banner{height:283px;}
}
@media screen and (min-width:930px) and (max-width:1199px) {
    .son_banner{height:193px;}
    .son_banner img{width:100%;}
}
@media screen and (min-width:641px) and (max-width:929px) {
    .son_banner{height:133px;}
    .son_banner img{width:100%;}
}
@media screen and (max-width:640px) {
    .son_banner{height:133px;}
    .son_banner img{width:100%;}
}


