.news_content{
    width: 100%;
    background: #FAFAFA;
}

.news-box {
    background: #FAFAFA;
    margin-top: -100px;
    z-index: 2;
}

.waper {
    max-width: 1200px;
}

.waper, body {
    width: 100%;
    min-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    height: 100%;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.news-box .news-list-waper {
    padding-top: 20px;
}

.content .news-box .news-list a {
    margin-top: 10px;
    float: right;
}

a {
    text-decoration: none;
    color: #fff;
}

.news-box .news-list {
    height: 220px;
    border-bottom: 1px solid #e0e2e7;
    padding: 46px 50px 46px 0;
}

.news-box .news-list .news-list-box b {
    display: inline-block;
    width: 1px;
    height: 62px;
    background: #2c89ca;
    margin: 0 32px;
    float: left;
}

.news-box .news-list a {
    margin-top: 10px;
    float: right;
}

.news-box .news-list .news-list-box {
    height: 168px;
}

.news-box .news-list .news-list-box .time {
    float: left;
    text-align: right;
    width: 130px;
}

.news-box .news-list .news-list-box .time h4 {
    font-size: 22px;
    color: #293c57;
    line-height: 30px;
    font-family: Roboto-Regular,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
}

.news-box .news-list .news-list-box .time span {
    font-family: Roboto-Regular,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
    color: #7f8fa4;
    line-height: 22px;
}

.news-box .news-list .news-list-box dl {
    float: left;
    height: 100%;
}

.news-box .news-list .news-list-box dl dt {
    float: left;
    margin-right: 32px;
    width: 302px;
    height: 100%;
}

.news-box .news-list a img {
    display: inline-block;
    vertical-align: middle;
}

fieldset, img {
    border: none;
}

.news-box .news-list .news-list-box dl dd {
    float: left;
    width: 620px;
}

.news-box .news-list a>span {
    display: none;
    font-size: 12px;
    color: #2c89ca;
    margin-right: 8.5px;
    vertical-align: middle;
}

.news-box .news-list .news-list-box dl dd h3 {
    font-size: 22px;
    color: #293c57;
    line-height: 30px;
    margin-bottom: 30px;
}

.news-box .news-list .news-list-box dl dd p {
    color: #7f8fa4;
    line-height: 22px;
}

.pc-none {
    display: none!important;
}

